@use "sass:map";

@use "scss/core/reset";
@use "scss/mixins/window-classes";

@include reset.init();

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

$typography-map: (
    "display-large": ("line-height": 64px,
        "size": 57px,
        "tracking": -0.25px,
        "weight": 400),
    "display-medium": ("line-height": 52px,
        "size": 45px,
        "tracking": 0,
        "weight": 400),
    "headline-large": ("line-height": 40px,
        "size": 32px,
        "tracking": 0,
        "weight": 400),
    "headline-medium": ("line-height": 36px,
        "size": 28px,
        "tracking": 0,
        "weight": 400),
    "title-medium": ("line-height": 24px,
        "size": 16px,
        "tracking": 0.15px,
        "weight": 500),
    "body-large": ("line-height": 24px,
        "size": 16px,
        "tracking": 0.5px,
        "weight": 400),
    "body-medium": ("line-height": 20px,
        "size": 14px,
        "tracking": 0.25px,
        "weight": 400),
    "agitation-small":("line-height": 44px,
        "size": 36px,
        "tracking": 0.25px,
        "weight": 400),
    "agitation-medium":("line-height": 52px,
        "size": 45px,
        "tracking": 0.25px,
        "weight": 400),
    "agitation-large":("line-height": 64px,
        "size": 57px,
        "tracking": 0.25px,
        "weight": 400),
);

@mixin _private-apply-font($font-style) {
    $font-map: map.get($typography-map, $font-style);

    font-size: map.get($font-map, "size");
    font-weight: map.get($font-map, "weight");
    letter-spacing: map.get($font-map, "tracking");
    line-height: map.get($font-map, "line-height");
}

@mixin typography-agitation-small {
    @include _private-apply-font("agitation-small");
}

@mixin typography-agitation-medium {
    @include _private-apply-font("agitation-medium");
}

@mixin typography-agitation-large {
    @include _private-apply-font("agitation-large");
}

@mixin typography-display-large {
    @include _private-apply-font("display-large");
}

@mixin typography-display-medium {
    @include _private-apply-font("display-medium");
}

@mixin typography-headline-large {
    @include _private-apply-font("headline-large");
}

@mixin typography-headline-medium {
    @include _private-apply-font("headline-medium");
}

@mixin typography-title-medium {
    @include _private-apply-font("title-medium");
}

@mixin typography-body-large {
    @include _private-apply-font("body-large");
}

@mixin typography-body-medium {
    @include _private-apply-font("body-medium");
}

@mixin section-styles {
    &__img {
        background-position: center;
        background-size: cover;
        height: 256px;
        max-width: 456px;
        grid-column: span 5;
        border-radius: 16px;
    }

    &__content {
        grid-column: span 4;
        display: grid;
        grid-auto-rows: min-content;
        gap: 16px;

        p {
            color: var(--md-sys-color-on-background);
        }

        h3 {
            color: var(--md-sys-color-primary);
            @include typography-headline-medium;
        }
    }

    @include window-classes.on-classes(("medium", "expanded", "large", "extra-large")) {

        &__img,
        &__content {
            grid-column: span 6;
            background-size: cover;
        }
    }
}

:root {
    // light theme colors
    --md-sys-color-background-light: rgba(252, 252, 255, 1);
    --md-sys-color-on-background-light: rgba(26, 28, 30, 1);
    --md-sys-color-surface-container-light: rgba(249, 249, 252, 1);
    --md-sys-color-primary-container-light: rgb(209 228 255);
    --md-sys-color-on-primary-container-light: rgb(0 29 54);
    --md-sys-color-on-surface-light: rgba(26, 28, 30, 1);
    --md-sys-color-on-surface-variant-light: rgba(66, 71, 78, 1);
    --md-sys-color-inverse-surface-light: rgb(46 49 53);
    --md-sys-color-inverse-on-surface-light: rgb(239 240 247);
    --md-sys-color-surface-variant-light: rgb(223 226 235);
    --md-sys-color-secondary-container-light: rgb(215 227 248);
    --md-sys-color-primary-light: rgb(54 97 142);
    --md-sys-color-on-primary-light: rgb(255 255 255);

    // dark theme colors
    --md-sys-color-background-dark: rgba(26, 28, 30, 1);
    --md-sys-color-on-background-dark: rgba(226, 226, 229, 1);
    --md-sys-color-surface-container-dark: rgba(17, 20, 22, 1);
    --md-sys-color-primary-container-dark: rgb(26 73 117);
    --md-sys-color-on-primary-container-dark: rgb(209 228 255);
    --md-sys-color-on-surface-dark: rgba(198, 198, 201, 1);
    --md-sys-color-on-surface-variant-dark: rgba(194, 199, 207, 1);
    --md-sys-color-inverse-surface-dark: rgb(225 226 232);
    --md-sys-color-inverse-on-surface-dark: rgb(46 49 53);
    --md-sys-color-surface-variant-dark: rgb(67 71 78);
    --md-sys-color-secondary-container-dark: rgb(59 72 88);
    --md-sys-color-primary-dark: rgb(161 202 253);
    --md-sys-color-on-primary-dark: rgb(0 50 89);

    // theme colors
    --md-sys-color-background: light-dark(var(--md-sys-color-background-light), var(--md-sys-color-background-dark));
    --md-sys-color-on-background: light-dark(var(--md-sys-color-on-background-light), var(--md-sys-color-on-background-dark));
    --md-sys-color-surface-container: light-dark(var(--md-sys-color-surface-container-light), var(--md-sys-color-surface-container-dark));
    --md-sys-color-primary-container: light-dark(var(--md-sys-color-primary-container-light), var(--md-sys-color-primary-container-dark));
    --md-sys-color-on-primary-container: light-dark(var(--md-sys-color-on-primary-container-light), var(--md-sys-color-on-primary-container-dark));
    --md-sys-color-on-surface: light-dark(var(--md-sys-color-on-surface-light), var(--md-sys-color-on-surface-dark));
    --md-sys-color-on-surface-variant: light-dark(var(--md-sys-color-on-surface-variant-light), var(--md-sys-color-on-surface-variant-dark));
    --md-sys-color-inverse-surface: light-dark(var(--md-sys-color-inverse-surface-light), var(--md-sys-color-inverse-surface-dark));
    --md-sys-color-inverse-on-surface: light-dark(var(--md-sys-color-inverse-on-surface-light), var(--md-sys-color-inverse-on-surface-dark));
    --md-sys-color-surface-variant: light-dark(var(--md-sys-color-surface-variant-light), var(--md-sys-color-surface-variant-dark));
    --md-sys-color-secondary-container: light-dark(var(--md-sys-color-secondary-container-light), var(--md-sys-color-secondary-container-dark));
    --md-sys-color-primary: light-dark(var(--md-sys-color-primary-light), var(--md-sys-color-primary-dark));
    --md-sys-color-on-primary: light-dark(var(--md-sys-color-on-primary-light), var(--md-sys-color-on-primary-dark));



}

$breakpoint-phone: 600px;
$breakpoint-tablet: 840px;

body {
    --_columns: 4;
    --_offset: 16px;

    @include typography-body-large;

    display: grid;
    grid-auto-rows: min-content;
    grid-template-columns: var(--_offset) [content-start] repeat(var(--_columns), 1fr) [content-end] var(--_offset);
    column-gap: 16px;

    font-family: "Roboto", sans-serif;

    background-color: var(--md-sys-color-background);
    color: var(--md-sys-color-on-background);

    position: relative;

    @include window-classes.on-medium {
        --_columns: 8;
        --_offset: 32px;

        column-gap: 24px;
    }

    @include window-classes.on-classes(("expanded", "large", "extra-large")) {
        --_columns: 12;
        --_offset: 64px;
    }
}

section {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: subgrid;
    isolation: isolate;
    padding-block: 30px;

    &>.content {
        grid-column: content;
        display: grid;
        grid-template-columns: subgrid;
    }
}

.hero-section {
    height: 100dvh;
    background-image: url('https://s3-alpha-sig.figma.com/img/5789/05ac/f6a90cb182a2ace4cb6fbef124c0b2ff?Expires=1734307200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=AEOHSvVWyBotz9TDGaYSgq~nYmi6O7CIKXA34FGOQkI4QP5j1--I-hxpWyuSuyJN~ycWX6B2D6luaBzEQARSdd39KkP3gY29xV-6lVWL9hoPjZISD3XcMUrqSJwkSSewSwUrnPoD6xIBtoheKz7HR6GBg9ugiYPADtU~1SAEjCCsMIwQXlkjkOZljv-Qgj62NRSZqQuxDybqsHizxe9sPo~rjMYOgP79PE2dLOtdyDgZZsUWXPk1EkhzeQPBA7t-qNwoH6ejGtWkahN~hTFmVrlA6pZVteH7atY7j4SJtUBbUPPU8ASlv2jLVZw0x03L993Iys2SmhWVyDbniursGg__');
    background-size: cover;
    background-position: right;
    padding-top: 0;
    color: var(--md-sys-color-on-primary-light);


    &__content {
        grid-column: 2/span 6;
        display: grid;
        align-items: center;
        padding-block: 100px;

        &__heading {
            display: grid;
            align-content: space-between;
            gap: 16px;
            filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, .35));

            h1 {
                @include typography-display-large;
            }

            h2 {
                @include typography-headline-large;
            }
        }
    }

    &__navigation {
        height: 100px;
        grid-column: 2/-2;
        display: grid;
        grid-template-columns: repeat(2, 1fr);


        &__logo {
            align-self: center;
        }

        &__info {
            display: grid;
            grid-column: 3/span 2;
            align-self: center;
            gap: 10px;
            padding-top: 15px;

            @include window-classes.on-large {
                grid-column: 5/span 3;
                grid-template-columns: repeat(3, min-content);
                padding-top: 0;
            }

            @include window-classes.on-classes(("expanded", "large", "extra-large")) {
                grid-column: 7/span 6;
                grid-template-columns: repeat(3, min-content);
                padding-top: 0;
            }
        }
    }
}


.cta {
    @include typography-display-medium;
    padding: 24px;
    border-radius: 16px;
    background: var(--md-sys-color-primary);
    display: grid;
    place-items: center;
}

.section__raport {
    @include section-styles;

    &__img {
        background-image: url('https://www.figma.com/file/XTYPVf1ClNIOXykE7zk4Wh/image/64af9ae666d8a601f727fc4ad3e565f793de4b8d');
    }
}

.section__incident {
    @include section-styles;

    &__img {
        background-image: url('https://www.figma.com/file/XTYPVf1ClNIOXykE7zk4Wh/image/bb1ea02106377785276820ebdeacea4c781ec8ad');
    }
}

.section__new {
    @include section-styles;

    &__img {
        background-image: url('https://www.figma.com/file/XTYPVf1ClNIOXykE7zk4Wh/image/1aade643a3b12fcd939d4bd6c35e9116e519e18e');
    }
}

.section__recreated {
    @include section-styles;

    &__img {
        background-image: url('https://www.figma.com/file/XTYPVf1ClNIOXykE7zk4Wh/image/d1cb329202792b3173f3cb9c1b096c4877d243dd');
    }
}

.section__help {
    @include section-styles;

    &__img {
        background-image: url('https://www.figma.com/file/XTYPVf1ClNIOXykE7zk4Wh/image/5265b80c4b87bae3c9f44ff369b80d9ef2ae1e5a');
    }
}

.slogan {
    background-color: var(--md-sys-color-inverse-surface);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    p {
        grid-column: 1/-1;
        @include typography-display-medium;
        color: var(--md-sys-color-inverse-on-surface)
    }

    &__cta {
        @include typography-display-medium;
        padding: 24px;
        border-radius: 16px;
        background: var(--md-sys-color-primary);
        display: grid;
        place-items: center;

        p {
            color: var(--md-sys-color-on-primary-light);
        }
    }
}

.text-section {

    background-color: var(--md-sys-color-surface-variant);
    

    p {
        display: grid;
        grid-column: 2/ span 4;
        color: var(--md-sys-color-on-surface-variant);


        @include window-classes.on-medium {
            grid-column: 3/ span 6;
        }

        @include window-classes.on-classes(("expanded", "large", "extra-large")) {
            grid-column: 7/span 5;
            justify-content: end;
        }
    }
}

.section__list {
    display: grid;
    background-color: var(--md-sys-color-secondary-container);
    padding-block: 100px;
    grid-auto-rows: auto;
    position: relative;

    &__img {
        background-image: url('https://www.figma.com/file/XTYPVf1ClNIOXykE7zk4Wh/image/8b60af22f02d84ebb8b268ddabe0443886678db9');
        background-position: center;
        height: 256px;
        max-width: 456px;
        grid-column: span 4;
        border-radius: 16px;

        @include window-classes.on-medium {
            grid-column: span 8;
        }

        @include window-classes.on-classes(("expanded", "large", "extra-large")) {
            grid-column: span 6;
        }

    }

    &__text {
        grid-column: span 4;
        gap: 16px;
        padding-top: 16px;
        grid-auto-rows: min-content;

        h3 {
            color: var(--md-sys-color-primary);
            @include typography-headline-medium;
        }

        @include window-classes.on-medium {
            grid-column: span 8;
        }

    }

    @include window-classes.on-classes(("expanded", "large", "extra-large")) {
        &__img {
            grid-column: span 5;
        }

        &__text {
            &--first {
                grid-column: span 5;
                grid-row: 2;
            }

            &--second {
                grid-column: span 5;
                grid-row: 3;
            }

            &--third {
                grid-column: 7/span 5;
                grid-row: 1;
            }

            &--fourth {
                grid-column: 7/span 5;
                grid-row: 2;
            }

            &--fifth {
                grid-column: 7/span 5;
                grid-row: 3;
            }
        }
    } 

}

.section__agitation {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    text-align: center;
    background-color: var(--md-sys-color-primary-container);
    align-items: center;
    gap: 16px;
    color: var(--md-sys-color-on-primary-container);


    &__small {
        @include typography-agitation-small;
        grid-column: 1/-1;
        grid-row: 1;
    }

    &__medium {
        @include typography-agitation-medium;
        grid-column: 1/-1;
        grid-row: 2;
    }

    &__large {
        @include typography-agitation-large;
        grid-column: 1/-1;
        grid-row: 3;
    }
}

.section__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section__footer {
    display: grid;
    grid-template-rows: repeat(3, min-content);
    background-color: var(--md-sys-color-inverse-surface);
    align-content: center;

    p {
        color: var(--md-sys-color-inverse-on-surface);
        grid-column: 4/ span 2;

        @include window-classes.on-medium {
            grid-column: 7/ span 3;
        }

        @include window-classes.on-classes(("expanded", "large", "extra-large")) {
            grid-column: 10/ span 3;

        }
    }
}